# Dependencies / Setup

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
import datetime

# Today's Date
now = datetime.datetime.now()

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

## Import video games from folders with csv files

In [23]:
#CSV paths
csv1 = "Output_EFB/games_df_clean.csv"
csv2 = "Output_ARA/annagames1_df_clean.csv"
csv3 = "Output_ARA/annagames2_df_clean.csv"
csv4 = "Output_ARA/annagames3_df_clean.csv"
csv5 = "Output_MHC/games_11001_to_16600_df_clean.csv"

In [26]:
#Create dataframes from csv files
csv1_df = pd.read_csv(csv1)
csv2_df = pd.read_csv(csv2)
csv3_df = pd.read_csv(csv3)
csv4_df = pd.read_csv(csv4)
csv5_df = pd.read_csv(csv5)

In [33]:
#Creating a union of dataframes 
merged_df = csv1_df.append(csv2_df)
merged_df = merged_df.append(csv3_df)
merged_df = merged_df.append(csv4_df)
merged_df = merged_df.append(csv5_df)

merged_df.describe()

        popularity  total_rating         esrb
count  6844.000000   6844.000000  8703.000000
mean      3.977791     70.685494     4.197403
std       7.707948     13.280124     1.178548
min       1.000000      0.000000     1.000000
25%       1.333333     64.000000     3.000000
50%       1.666667     72.873320     4.000000
75%       3.333333     80.000000     5.000000
max     185.666667    100.000000     7.000000

In [34]:
merged_df.head()

                              name  popularity  total_rating  esrb
0         Deus Ex: Mankind Divided   24.333333     79.617401   6.0
1               Cool Boarders 2001    7.333333           NaN   3.0
2  Classic NES Series: Castlevania    1.333333     75.812500   NaN
3       Dragon Ball Z: Battle of Z    3.333333     58.333333   5.0
4        Scooby-Doo! First Frights    1.333333     75.761309   4.0

### Save Data

In [36]:
#Output DataFrame as a csv
merged_df.to_csv("Output/full_esrb_df.csv", encoding = "utf-8", index = False)