In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
import datetime

# Today's Date
now = datetime.datetime.now()

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
#csv path
csv_file = "Output/full_esrb_df.csv"

In [3]:
#read csv
full_esrb_df = pd.read_csv(csv_file)

In [4]:
full_esrb_df.head()

                              name  popularity  total_rating  esrb
0         Deus Ex: Mankind Divided   24.333333     79.617401   6.0
1               Cool Boarders 2001    7.333333           NaN   3.0
2  Classic NES Series: Castlevania    1.333333     75.812500   NaN
3       Dragon Ball Z: Battle of Z    3.333333     58.333333   5.0
4        Scooby-Doo! First Frights    1.333333     75.761309   4.0

In [5]:
full_esrb_df.count()

name            14534
popularity       6844
total_rating     6844
esrb             8703
dtype: int64

In [6]:
#drop blank names and esrb entries
full_esrb_df.dropna(subset = ['name','esrb'],axis=0,inplace = True)

In [7]:
full_esrb_df.count()

name            8700
popularity      4484
total_rating    4512
esrb            8700
dtype: int64

In [12]:
#drop duplicate names
full_esrb_df.drop_duplicates(subset='name',inplace = True)

In [14]:
full_esrb_df.count()

name            5584
popularity      2899
total_rating    2893
esrb            5584
dtype: int64

In [15]:
#Output Cleaned Dataframe as a Csv
full_esrb_df.to_csv("Output/clean_igdb_df.csv",encoding = "utf-8",index = False )